<div class="letter_animate js-animate-svg">   

    <svg xmlns="http://www.w3.org/2000/svg" width="38" viewBox="0 0 38 112" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M38 0H0V30H38V0ZM38 38H0V112H38V38Z" fill="currentColor"/>
    </svg>

    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="112" viewBox="0 0 38 112" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M38 0H0V81H38V0ZM38 89H0V112H38V89Z" fill="currentColor"/>
    </svg>
</div>