<div class="logo_animate js-logo-animate">    
    <svg viewBox="0 0 485 133" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="js-svg-el-1" x="33.2188" y="99.3234" width="66.4243" height="8.24298" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M241.766 26.1635L239.645 31.6963H228.711L242.661 0H253.218L267.168 31.6963H256.046L253.925 26.1635H241.766ZM250.956 18.4739L247.845 10.5029L244.735 18.4739H250.956Z" fill="black"/>
        <path d="M272.023 0H282.768V23.3971H297.143V31.6963H272.023V0Z" fill="black"/>
        <path d="M313.355 0H302.61V31.6963H327.73V23.3971H313.355V0Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M241.766 76.1929L239.645 81.7257H228.711L242.661 50.0295H253.218L267.168 81.7257H256.046L253.925 76.1929H241.766ZM250.956 68.4564L247.845 60.4855L244.735 68.4564H250.956Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M289.932 81.6788C298.745 81.6788 303.411 78.4904 303.411 72.9577H303.317C303.317 69.2066 301.149 66.4871 297.425 65.1274C300.347 63.6739 301.856 61.2357 301.856 58.2817C301.856 53.4523 297.755 49.9826 288.989 49.9826H271.976V81.6788H289.932ZM282.58 62.1734V57.4846H287.575C289.979 57.4846 291.063 58.2817 291.063 59.829C291.063 61.3763 289.979 62.1734 287.575 62.1734H282.58ZM289.036 69.2535C291.393 69.2535 292.571 70.0975 292.571 71.7386C292.571 73.3797 291.393 74.2236 289.036 74.2236H282.58V69.2535H289.036Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M308.407 65.8307C308.407 56.2187 315.994 49.2324 326.41 49.2324C336.826 49.2324 344.366 56.2187 344.366 65.8307C344.366 75.4427 336.778 82.3821 326.41 82.3821C316.042 82.3821 308.407 75.3958 308.407 65.8307ZM333.574 65.8307C333.574 60.9075 330.369 57.9066 326.41 57.9066C322.451 57.9066 319.246 60.9075 319.246 65.8307C319.246 70.7539 322.451 73.7548 326.41 73.7548C330.369 73.7548 333.574 70.7539 333.574 65.8307Z" fill="black"/>
        <path d="M350.823 49.9826V67.4249C350.823 76.9431 356.573 82.429 366.328 82.429C376.084 82.429 381.834 76.9431 381.834 67.4249V49.9826H371.277V67.0967C371.277 71.9261 369.392 73.7548 366.423 73.7548C363.454 73.7548 361.568 71.9261 361.568 67.0967V49.9826H350.823Z" fill="black"/>
        <path d="M396.491 58.2817H387.16V49.9826H416.568V58.2817H407.237V81.6788H396.491V58.2817Z" fill="black"/>
        <path d="M242.944 100.012H232.198V131.708H242.944V100.012Z" fill="black"/>
        <path d="M282.721 100.012V131.708H273.908L261.796 117.314V131.708H251.333V100.012H260.146L272.258 114.407V100.012H282.721Z" fill="black"/>
        <path d="M288.141 108.264H297.473V131.661H308.218V108.264H317.55V99.9651H288.141V108.264Z" fill="black"/>
        <path d="M349.456 123.644V131.708H322.969V100.012H348.891V108.077H333.526V111.781H347.005V119.471H333.526V123.644H349.456Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M367.742 123.737H370.617L376.037 131.708H387.49L380.797 121.909C384.662 119.986 386.83 116.563 386.83 111.968C386.83 104.654 381.174 100.012 372.314 100.012H356.997V131.708H367.742V123.737ZM367.789 108.217H371.701C374.67 108.217 376.084 109.624 376.084 111.922C376.084 114.219 374.67 115.626 371.701 115.626H367.789V108.217Z" fill="black"/>
        <path d="M394.04 100.012H404.786V131.708H394.04V100.012Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M429.67 99.2618C419.255 99.2618 411.667 106.248 411.667 115.86C411.667 125.425 419.302 132.412 429.67 132.412C440.039 132.412 447.626 125.472 447.626 115.86C447.626 106.248 440.086 99.2618 429.67 99.2618ZM429.623 107.936C433.582 107.936 436.787 110.937 436.787 115.86C436.787 120.783 433.582 123.784 429.623 123.784C425.664 123.784 422.459 120.783 422.459 115.86C422.459 110.937 425.664 107.936 429.623 107.936Z" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M468.128 123.737H465.253V131.708H454.507V100.012H469.824C478.685 100.012 484.34 104.654 484.34 111.968C484.34 116.563 482.172 119.986 478.308 121.909L485 131.708H473.548L468.128 123.737ZM469.165 108.217H465.253V115.626H469.165C472.134 115.626 473.548 114.219 473.548 111.922C473.548 109.624 472.134 108.217 469.165 108.217Z" fill="black"/>
        <path d="M0 0V132.412H33.2144V41.3875H99.6431V132.412H132.905V74.4786V41.3875H166.119L166.072 74.4786V132.412H199.286V0H0Z" fill="black"/>
        <rect class="js-svg-el-2" x="132.907" y="66.2332" width="33.1987" height="8.24341" fill="black"/>
    </svg>
</div>

