<div class="button-quantity {{ class }}" {{ attribute }} data-button-quantity>
    <button class="button-quantity__control-element disabled" data-decrease>-</button>
    <span class="button-quantity__value" data-value="{{ max }}">{{ default_value }}</span>
    <button class="button-quantity__control-element" data-increase>+</button>
</div>