<link rel="stylesheet" href="{{ "section-about-furniture.css" | asset_url }}">

{% render "set-sections-paddings", section_data: section, wrapper_class: "section-about-furniture__header-wrapper" %}
{% render "set-sections-borders", section_data: section, wrapper_class: "section-about-furniture__wrapper" %}

{% if section.settings.title_limits == "true" %}
    {% assign title_limits = true %}
{% endif %}

<div class="section-about-furniture__wrapper">
    {% render "section-header", section: section, parent_class: "section-about-furniture", borders: true, limits: title_limits, button_color: section.settings.button_color %}

    <div class="section-about-furniture__grid js-fade-section page_wrap page_wrap--border page_wrap--without-paddings">
        {% for block in section.blocks %}
            <div class="section-about-furniture__grid-item">
                {% if block.type == "product" and block != blank %}
                    {% render "product-card", product: block.settings.product, class: "section-about-furniture__product" %}

                {% elsif block.type == "text" and block != blank %}
                    <div class="section-about-furniture__text-block js-fade">
                        {% if block.settings.title != blank %}
                            <h4 class="section-about-furniture__text-block-title h3">{{ block.settings.title }}</h4>
                        {% endif %}

                        {% if block.settings.description != blank %}
                            <div class="section-about-furniture__text-block-description">{{ block.settings.description |  replace: "<br>", "<br>" }}</div>                            
                        {% endif %}
                        
                        <div class="section-about-furniture__btn_wrap">
                            {% render "buttons", link: block.settings.url, title: block.settings.button_title, mobile_title: block.settings.button_title_mobile, class: "section-about-furniture__button btn_base", icon: true %}
                        </div>
                    </div>

                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

<script src="{{ "section-about-furniture.js" | asset_url }}" type="module" defer></script>

{% schema %}
{
    "name": "About furniture",
    "class": "section-about-furniture",
    "tag": "section",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_top_mobile",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding top mobile",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom mobile",
            "default": 0
        },
        {
            "type": "select",
            "id": "section_horizontal_borders",
            "label": "Section horizontal borders",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                },
                {
                    "value": "double",
                    "label": "Double"
                }
            ],
            "default": "top"
        },
        {
            "type": "select",
            "id": "title_limits",
            "label": "Title limits",
            "options": [
                {
                    "value": "true",
                    "label": "True"
                },
                {
                    "value": "false",
                    "label": "False"
                }
            ],
            "default": "false"
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button color",
            "options": [
                {
                    "value": "btn_base_brown",
                    "label": "Brown"
                },
                {
                    "value": "btn_base",
                    "label": "Base"
                }
            ],
            "default": "btn_base"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "button_title",
            "label": "Button title"
        },
        {
            "type": "text",
            "id": "button_title_mobile",
            "label": "Button title"
        },
        {
            "type": "url",
            "id": "button_url",
            "label": "Button url"
        }
    ],
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "limit": 5,
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
            ]
        },
        {
            "name": "Text",
            "type": "text",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button_title",
                    "label": "Button title"
                },
                {
                    "type": "url",
                    "id": "button_url",
                    "label": "Button url"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "About furniture"
        }
    ]
}
{% endschema %}