/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/section-portfolio-video.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ====================================================== FORM ===================================================== */
.section-portfolio-video__wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
  border-bottom: 3px solid #E1DACD;
}

.section-portfolio-video__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.section-portfolio-video__video,
.section-portfolio-video__image,
.section-portfolio-video__description {
  max-width: 1140px;
}

.section-portfolio-video__video,
.section-portfolio-video__image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 768px) {
  .section-portfolio-video__video,
  .section-portfolio-video__image {
    aspect-ratio: 1140/618;
  }
}
@media screen and (max-width: 479px) {
  .section-portfolio-video__video,
  .section-portfolio-video__image {
    aspect-ratio: 345/210;
  }
}

.section-portfolio-video__description {
  width: 100%;
}
