/*!**************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/template-service-detail-hero.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************/
/* ==================================================== ADAPTIVE =================================================== */
/* ===================================================== FONTS ===================================================== */
/* ===================================================== COLORS ==================================================== */
/* ====================================================== FORM ===================================================== */
.template-service-detail-hero {
  border-bottom: 3px solid #E1DACD;
}

.template-service-detail-hero__title-wrapper {
  border-top: 3px solid #E1DACD;
  border-bottom: 3px solid #E1DACD;
}

.template-service-detail-hero__title {
  text-transform: uppercase;
}

.template-service-detail-hero__image-wrapper {
  max-height: 800px;
  border-top: 3px solid #E1DACD;
  border-bottom: 3px solid #E1DACD;
}

.template-service-detail-hero__image {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .template-service-detail-hero__image {
    aspect-ratio: 1560/715;
  }
}
@media screen and (max-width: 1199px) {
  .template-service-detail-hero__image {
    aspect-ratio: 345/242;
  }
}

@media screen and (min-width: 1200px) {
  .template-service-detail-hero__content-item,
  .template-service-detail-hero__image-inner-wrapper {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
@media screen and (max-width: 1199px) {
  .template-service-detail-hero__content-item,
  .template-service-detail-hero__image-inner-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 1199px) {
  .template-service-detail-hero__content-block-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .template-service-detail-hero__content-block-wrapper--header {
    display: grid;
    grid-template-columns: 22% auto;
  }
}
@media screen and (min-width: 1200px) {
  .template-service-detail-hero__content-block-wrapper--content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .template-service-detail-hero__content-item:first-child {
    border-right: 3px solid #E1DACD;
  }
}
@media screen and (max-width: 1199px) {
  .template-service-detail-hero__content-item:first-child {
    border-bottom: 3px solid #E1DACD;
  }
}
.template-service-detail-hero__content-item--title {
  border-bottom: none !important;
  text-transform: uppercase;
}
.template-service-detail-hero__content-item h3 {
  word-break: break-all;
}
