@use '../variables.scss' as *;
@use '../mixins/_global-mixins.scss' as *;

@mixin h1 {
    font-weight: 700;

    @include break_points($tablet, min) {
        font-size: clamp(50px, 6vw, 100px);
        line-height: 1.11;
    }

    @include break_points($tablet) {
        font-size: 38px;
        line-height: 0.9;
    }
}

@mixin h2 {
    font-weight: 800;

    @include break_points($tablet, min) {
        font-size: clamp(45px, 6vw, 80px);
        line-height: 1.27;
    }

    @include break_points($tablet) {
        font-size: 32px;
        line-height: 1;
    }
}

@mixin h3 {
    @include break_points($laptop, min) {
        font-size: 32px;
        line-height: 1.31;
    }

    @include break_points($laptop, $tablet) {
        font-size: 28px;
        line-height: 1.31;
    }

    @include break_points($tablet) {
        font-size: 22px;
        line-height: 1.27;
    }
}

@mixin h4 {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.45;
}

@mixin page_title {
    font-weight: 800;

    @include break_points($tabletXl, min) {
        font-size: 80px;
        line-height: 1.125;
    }

    @include break_points($tabletXl, $tablet) {
        font-size: 64px;
    }

    @include break_points($tablet) {
        font-size: 50px;
        line-height: 1;
    }
}
