@use '../variables.scss' as *;
@use '../mixins/_global-mixins.scss' as *;

.portfolio-richtext {
    border-bottom: solid $brown_light;

    @include break_points($laptop, min) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @include break_points($laptop) {
        display: flex;
        flex-direction: column;
    }

    &.one-field {
        @include break_points($laptop, min) {
            grid-template-columns: 1fr;
        }

        .portfolio-richtext__richtext-block {
            border: none;

            @include break_points($laptop, min) {
                padding-top: 40px;
                padding-bottom: 35px;
            }

            @include break_points($laptop) {
                padding-top: 25px;
                padding-bottom: 25px;
            }
        }
    }
}

.portfolio-richtext__richtext-block {
    @include break_points($laptop, min) {
        padding-top: 50px;
        padding-bottom: 50px;

        &:first-child {
            border-right: 3px solid $brown_light;
        }
    }

    @include break_points($laptop) {
        padding-top: 25px;
        padding-bottom: 25px;

        &:first-child {
            border-bottom: 3px solid $brown_light;
        }
    }
}
