@use '../variables.scss' as *;

.swiper-controllers {
    display: flex;
    align-items: center;
    gap: 12px;
}

.swiper-controllers__controller {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    letter-spacing: -1px;
    transition: color 0.3s ease;
    color: var(--body-text-color);

    &.disabled {
        opacity: 0.7;
        pointer-events: none;
        cursor: auto;
    }

    span {
        display: block;
    }

    &:hover {
        color: $purple;
    }
}

.swiper-controllers__counter {
    font-weight: 800;
}
